


@media all and (max-width: 991px){
	.hexagon ul li .hex-img {
		margin: 1rem 0 1.2rem .6rem;
		width: 10rem;
		height: 12rem;
	}
	.hexagon ul:not(:first-child) {
		margin-top: -47px;
	}.contact-me button {
		float: unset;
		display: block;
		margin: 2rem auto;
	}.contact-content p {
		max-width: 45rem;
		width:100%;
		margin-top: 4rem;
	}
	.contact-content ul {
		margin-top: 3rem;
	}
}
@media all and (max-width: 767px){
	.menu ul li {
		margin: 0px 1rem;
	}
	.menu ul li a {
		font-size: 15px;
	}
	.hexagon ul li .hex-img {
		margin: 1rem 0 1rem .4rem;
		width: 10rem;
		height: 12rem;
	}
	.about-image .about-img {
		margin: 0 auto;
		margin-bottom:3rem;
	}
	.about {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

@media all and (max-width: 575px){
	.dis-none{
		display:none;
	}.hexagon ul:not(:first-child) {
		margin-top: -39px;
	}
	.hexagon ul li .hex-img {
		width: 7rem;
		height: 9rem;
	}
	.menu ul li {
		margin: 0px .5rem;
	}.menu ul li .logo img {
		width: 4rem;
		height: 3rem;
	}.menu:after {
		top: 60px;
	}
	.menu-box {
		top: -25px;
		background: #fff !important;
	}
}